@import url("https://fonts.googleapis.com/css?family=Arbutus+Slab&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Arbutus Slab", serif;
}

.pri-color {
  color: #207561 !important;
}

a {
  text-decoration: none;
}

#header {
  background-color: #f4f5f6;
}

/* navbar start here */

.nav-container {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.nav-link {
  font-size: 20px;
  color: black;
}

.nav-link:hover {
  color: #207561;
}

.dropbtn {
  background-color: transparent;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  padding: 5px 0;
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-link {
  display: block;
  padding: 0.5rem 1.5rem;
  color: #6e7b88;
}

.dropdown-link:hover {
  background-color: #f8f9fa;
  color: #bfb8b8;
}

/* navbar end here */

/* header main content */

.header-wrapper {
  display: flex;
}

.header-content {
  width: 50%;
  display: flex;
  align-items: center;
}

.header-content-wrapper {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 21px;
}

.header-img {
  width: 50%;
  height: 86vh;
}

.team-img {
  width: 100%;
  height: 86vh;
}

.header-0 {
  text-align: center;
}
.header-1 {
  margin: 10px;
}
.header-2 {
  margin: 10px;
}

.main-button {
  margin-top: 2rem;
  margin-left: 10px;
}

.mainBtn {
  background: #207561;
  border-color: #207561;
  color: #fff;
  font-size: 16px;
  border-radius: 30px;
  padding: 10px 30px;
}

.mainBtn:hover {
  color: white;
  background-color: black;
}

.logo {
  width: 50px;
  transition: 0.2s;
}

.logo:hover {
  transform: scale(1.4);
}

/* services start here */

.heading {
  text-align: center;
  margin: 5rem;
  font-size: 25px;
  color: #207561;
}

.services-box {
  display: flex;
  width: 75%;
  margin: 0 auto 4rem;
  justify-content: space-between;
}

.box-shelter {
  width: 18rem;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.box-shelter:hover {
  box-shadow: 0 8px 50px -5px rgba(0, 0, 0, 0.1);
}

.box-content {
  text-align: center;
}

.box-content * {
  margin-bottom: 1rem;
}

.box-content img {
  width: 100px;
}

.box-text:hover h2 {
  color: #207561;
}
